.bg{
    width: 100%;
    height: 400px;
        background-color: black;
        background-image: url('image.png');
        background-repeat: no-repeat;
        padding-top: 175px;
        opacity: 0.;
}
.btn1{
   color: red;
    border: 3px solid crimson;
    margin-top: ;
   background: none ;
   width: 200px;
 border-radius: 20px;
 padding: 5px;
}
.btn1:hover{
    background-color: white;
    color: black;

}
.nor{
    width: 85%;
    margin:auto;
    font-size: 10px;
}
.main{
    width: 100%;
    height: 800px;
    position: relative;
}
.boom{
width: 50%;

    height: 500px;

    background-image: url('https://cdn.pixabay.com/photo/2024/04/04/12/26/ai-generated-8675021_640.png');
    position:absolute;
    
}
.room{
    width: 50%;
    height: 190px;
    background-image: url('https://cdn.pixabay.com/photo/2018/01/19/15/07/pendant-3092615_640.jpg');
    position: absolute;
 left: 430px;
 top: 40px;

 

}
.zoom {
    width: 50%;
    height: 190px;
    background-image: url('https://cdn.pixabay.com/photo/2018/01/19/15/07/pendant-3092615_640.jpg');
position: absolute;
left: 430px;
top: 300px;
}